:root {
    --font-heading: serif;
    --font-body: sans-serif;
}

p {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}

.site-header {
    height: 50px;
    border-bottom: 1px solid #b8b8b8;

}

.home-btn i {
    font-size: 30px;
    color: #000;
}

.hero {
    height: calc(100vh - 150px);
}

.hero img {
    object-position: center;
}

.object-fit-cover {
    object-fit: cover;
}

.sec-2 {
    border-bottom: 1px solid #b8b8b8;
}

.scroll-container {
    max-height: 700px;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.view-more {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}


.subhead {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #444;
    max-width: 720px;
}

/* FADE-IN */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }

    .story-card img {
        height: 220px;
    }
}

/* responsive */
@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }
}

/* Disable sticky positioning on screens smaller than 992px */
@media (max-width: 991.98px) {
    .position-sticky {
        position: static !important;
    }
}